
/* -----로그인, 회원가입, 회원 정보 폼----- */
.formbox {
  background-color: rgb(234, 245, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 600px;
  height: auto;
  border-radius: 50px;
  margin-bottom: 50px;
  padding: 15px;
}

.formbox_lg {
  width: 800px;
}

.login-form {
display: flex;
flex-direction: column;
height: 100%;
justify-content: space-evenly;
align-items: center;
padding-top: 20px;
}

.login-form__r {
width: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login-form__row {
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.login-form__row_c {
  justify-content: center;
  margin: 5px;
  }

.login-form__row_t {
  justify-content: space-evenly;
  margin: 5px;
  padding: 20px 0px;
}

.login-form__row_t button{
  padding: 20px 0px;
  background-color: #8dc8ff;
  border-radius: 15px;
  padding: 20px 50px;
  cursor: pointer;
  color: black;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid rgba(110, 166, 222, 0.701);
  margin: 30px 0px 15px 0px;
}

.login-form input:not([type="submit"]) {
border: none;
margin: 15px 0px;
padding: 15px 10px;
font-size: 20px;
background-color: white;
border-radius: 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
transition: border-color 0.2s ease-in-out;
width: 350px;
}

.login-form input::value text{
color: rgba(0, 0, 0, 0.5);
}

.login-form text {
  font-size: 20px;
}

.login-form label {
  font-size: 20px;
}

.login-form input[type="submit"] {
background-color: #8dc8ff;
border-radius: 15px;
padding: 20px 50px;
cursor: pointer;
color: black;
font-weight: 500;
font-size: 18px;
border: none;
border-bottom: 2px solid rgba(110, 166, 222, 0.701);
margin: 30px 0px 15px 0px;
} 

.login-form a {
text-align: center;
text-decoration: underline;
color: rgba(0, 0, 0, 0.5);
font-weight: 00;
color: inherit;
font-size: 20px;
padding: 15px 10px;
}

.login-form__row a {
  margin-top: 15px;
  font-size: 16px;
}

.login-form__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img {
  width: 600px;
  height: 600px;
  border: 1px solid rgba(122, 122, 122, 0.262);
  margin: 40px 0px;
  border-radius: 20px;
}


select {
  height: 45px;
  background-color: white;
  border-radius: 5px;
  outline: none;
  order: none;
  font-size: 20px;
  width: 360px;
  margin: 15px 5px;
  border: 1px solid rgba(122, 122, 122, 0.262);
  padding: 0px 10px;
}
select option {
  background: white;
  color: black;
  padding: 3px 0;
}