<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <!--   메뉴바   -->
    <!-- {% if session['id'] %} {% else %} {% endif %} -->
    <nav class="navbar">
        <div class="navbar__logo">
        <a href="#">Homepage</a>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__menuitem">
                <!-- <a href="/myaccount/{{ session['idx'] }}">MyPage</a> -->
                <a href="/myaccount/3">MyPage</a>
            </li>
            <li class="navbar__menuitem">
                <a href="#">Logout</a>
            </li>
            <li class="navbar__menuitem">
                <a href="/login">Login</a>
            </li>
            <li class="navbar__menuitem">
                <a href="/board">Board</a>
            </li>
            <li class="navbar__menuitem">
                <a href="/notice">Notice</a>
            </li>
            <li class="navbar__menuitem">
                <a href="/list">List</a>
            </li>
            <li class="navbar__menuitem">
                <a href="/register_restaurant">Register_restaurant</a>
            </li>
        </ul>
        <a href="#" class="navbar__toogleBtn">
        <i class="fas fa-bars"></i>
        </a>
    </nav>
    <!--   메인   -->
    <main>
        Home
    </main>
</body>
</html>
