<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <a href="">EwhaYelp</a>
        </div>
        <ul class="navbar__menu">
            <li><a href="/list">List</a></li>
            <li><a href="/review">Review</a></li>
            <li><a href="/register_restaurant">Register_restaurant</a></li>
            <li><a href="register_review"> Register_review</a></li>
        </ul>
    </nav>
</body>
</html>
