{% extends "index.html" %}
{% block section %}
{% if session['id'] %}

<section>
<div class="title">
    <span id="chk">
        <h1>맛집 리스트</h1>
    </span>
</div>

{% if total_count == 0 %} <!--등록된 맛집이 없으면-->
<h1 style="font-size: 22px;">등록된 맛집이 없습니다.<br>
  당신의 맛집을 등록해서 다른 사람들에게 공유해주세요!</h1>

{% else %} <!--등록된 맛집이 있을 경우-->
<h1 style="font-size: 22px;">현재까지 등록된 맛집 : {{total_count}}개<h1>

<div class="list">
    <div id="pers">
    {% for data in datas %}
  
    <div class="맛집" id="{{data.name}}">
      <div class="box">
        <div class="image">
           
           <a href = "/view_detail/{{data.name}}/">
          <img
            name="{{data.name}}"
            src="../static/{{ data.img_path }}"
            alt="{{ data.name }}"
            width="250px"
            height="250px"
            style="border-radius: 20px;"
          />
          </a>
        </div>
      </div>
    </div>

    <br><br>
    {% endfor %}
</div>
</section>
{% endif %}
{%else%}<main>누구세요?</main> {%endif%}
{% endblock section%}