{% extends "index.html" %} {% block section %}
<section>
  <h1>아이디와 비밀번호를 입력하고 로그인하세요.</h1>
  <div class="formbox">
    <form class="login-form" action="/login_confirm" method="post">
      <div class="login-form__r">
        <div class="login-form__row">
          <text>ID : </text>
          <input type="text" name="id" />
        </div>
        <div class="login-form__row">
          <text>PW : </text>
          <input type="password" name="pw" />
        </div>
      </div>
      <div class="login-form__r">
        <div class="login-form__r login-form__row_c">
          <input type="submit" value="로그인" />
        </div>
        <div class="login-form__r login-form__row_c">
          <a href="/signup">회원가입</a>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock section %}
