<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAccount_Edit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <!--   메뉴바   -->
    <nav class="navbar">
        <div class="navbar__logo">
        <a href="">Homepage</a>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__menuitem">
                <a href="">List</a>
            </li>
            <li class="navbar__menuitem">
                <a href="">Review</a>
            </li>
            <li class="navbar__menuitem">
                <a href="">Register_restaurant</a>
            </li>
            <li class="navbar__menuitem">
                <a href="">Contact</a>
            </li>
        </ul>
        <a href="#" class="navbar__toogleBtn">
        <i class="fas fa-bars"></i>
        </a>
    </nav>
    <!--   메인   -->
    <main>
        <!--     form     -->
        <div class="formbox">
            <form class="login-form" action="/myaccount_edit_ok" method="post">
                <div class="login-form__row">
                    <input type="hidden" name="idx" value="{{ edit_idx }}"/>
                    <text>ID :  </text>
                    <!--      ID      -->
                    <input type="text" name="user_id" value="{{ session.get('id') }}"/>
                </div>
                <div class="login-form__row">
                    <text>PW :  </text>
                    <!--   PASSWORD   -->
                    <!--       {{session['id']}}로 db에서 받아온 pw 값 or 출력x    -->
                    <input type="text" name="user_pw" value="{{ edit_pw }}"/>
                </div>
                <div class="login-form__row">
                    <input type="submit" value="수정"/>
                </div>
            </form>

        </div>
    </main>
</body>
</html>


