{% extends "index.html" %} {% block section %}
<!--   메인   -->
<section>
  <h1>새 비밀번호를 입력하고 '변경하기' 버튼을 눌러주세요.</h1>
  <!--     form     -->
  <div class="formbox">
    <form class="login-form" action="/myaccount_edit_proc" method="post">
      <div class="login-form__r">
        <div class="login-form__row">
          <text>ID : </text>
          <!--      ID      -->
          <input type="text" name="id" value="{{ id }}" disabled />
        </div>
        <div class="login-form__row">
          <text>PW : </text>
          <!--   PASSWORD   -->
          <input type="text" name="pw" value="{{ pw }}" />
        </div>
      </div>
      <div class="login-form__r">
        <div class="login-form__r login-form__row_c">
          <input type="submit" value="변경하기" />
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock section %}
